@media (min-width:280px) and (max-width:480px){
    /* ----------------------------- */
    .main-container{
        /* width: fit-content; */
    }

    /* ----------------------------- */
    
    .body-container{
        /* width: 50%; */
    }
    /* .infor{} */
    .left-part .left-part-logo{
        height: 60%;
    }
    .info{
        height: 90%;
    }
    .info-wwrapper{
        flex-direction: column;
    }
    .info-wwrapper .left-part{
        height: 30%;
    }
    .info-wwrapper .left-part .left-part-logo img{
        width: 100%;
    }
    .last-home-section{
        /* height: 10px; */
        height: 40%;
    }
    .mid-part{
        width: 50%;
    }
    .wrap-mid{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }
    .wrap-mid .left-link-part,     .wrap-mid .right-link-part{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        flex-direction: column;
        justify-content: space-evenly;
        width: 45%;
        height: 80%;
    }
    .wrap-mid .left-link-part a,     .wrap-mid .right-link-part a{
        text-decoration: none;
        color: white;
        font-size: 1.5vw;
    }
    .mid-part-left-col, .mid-part-right-col, .mid-part-mid-col{
        display: none;
    }
    .right-part{
        width: 40%;
    }
    .right-part-popular-tags{
        display: none;
    }
    .popular-tags{
        font-size: 3vw !important;
    }
    .right-part-common-para{
        font-size: 2vw !important;
    }
    .btn-wrapper{
        height: 100%;
        width: 70%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }
    .right-part-row-3, .right-part-row-3{
        width: 100%;
    }
    .right-part-row-3 .boxes{
        height: 20px;
        width: 20%;
    }
    .copyright{
        height: 10%;
    }
    .copyright .copyright-heading-1{
        display: block;
    }
    .copyright .copyright-heading{
        display: none;
    }    

    .left-part, .right-part, .mid-part{
        width: 100%;
    }
    .title-para{
        /* width: 50%; */
    }
    .common-link p, .title-para{
        font-size: 3vw !important;
    }
    .left-part{
        width: 60%;
    }
    .mid-part{
        width: 80%;
    }
}

/* --------------------------------------------------------------TABLET-VIEW---------------------------------------------------------------- */

@media (min-width:650px) and (max-width:800px){

        .right-part-row-1, .right-part-row-2, .right-part-row-3, .right-part-row-4{
            width: 100%;
        }
        .common-para{
            font-size: 1.8vw !important;
        }
        .common-link p{
            font-size: 1.5vw !important;
        }
        .title-para{
            font-size: 1.5vw;
        }
}